/* codecadamy PROJECT 7 : 

*/

* {
  font-family: Helvetica;
  font-weight: bold;
}


h1 {
  color: white; /* Set the color of the text to make it visible */
  font-size: 50px;
  text-align: center;
  text-shadow: -1px -1px 0 black,  
               1px -1px 0 black,
              -1px  1px 0 black,
               1px  1px 0 black; /* Create the black outline */
  background-image: url('https://static.vecteezy.com/system/resources/previews/001/338/684/original/blue-cyber-circuit-future-technology-background-vector.jpg');
  background-size: cover; /* or contain, depending on your preference */
  background-position: 50% 25%; /* adjust as needed */
}


p {
  font-weight: 700;
}
